.user-space-content {
    display: flex;
    margin: 30px 160px 0;  
    flex-grow: 1;
    //align-items: stretch;
    &>.left {
        width: 350px;
        &>.user-card {
            width: 100%;
        }
    } 
    &>.right {
        flex-grow: 1;
        margin-left: 50px;
        display: flex;
        align-items: stretch;
        &>.menu-box {
            display: flex;
            align-items: stretch;
        }
        &>.content-page {
            flex-grow: 1;
            background-color: #fff;
            margin-left: 30px;
            padding: 20px;
        }
    }
}