.user-space-content {
    display: flex;
    margin: 30px 200px 0;  
    &>.left {
        width: 350px;
        &>.user-card {
            width: 100%;
        }
    } 
    &>.right {
        flex-grow: 1;
    }
}